<%= if is_nil @conn.assigns[:current_user] do %>
  <li><%= link gettext("Create Account"), to: Routes.signup_user_path(@conn, :new) %></li>
  <li><%= link gettext("Log In"), to: Routes.auth_user_path(@conn, :new) %></li>
<% else %>
  <li><%= link gettext("Logout"), to: Routes.user_path(@conn, :delete), method: :post%></li>
<% end %>
