<h1><%= link @job.name, to: @job.url %></h1>

<span><%= link "Edit", to: Routes.curate_job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", to: Routes.curate_company_path(@conn, :show, @job.company.slug) %></span>
