<section class="phx-hero">
  <h1>JobJawn Admin</h1>
  <p>A curation tool for the JobJawn aggregation service.</p>
</section>

<%= if not is_nil @conn.assigns[:current_user] do %>
  <section class="row">
    <article class="column">
      <h2>Job Jawn</h2>
      <ul>
        <li>
          <%= link "Companies", to: Routes.curate_company_path(@conn, :index) %>
        </li>
      </ul>
    </article>
  </section>
<% end %>
